<section class="blog" id="blog">
  <div class="container">
    <div class="blog-wrapper">
      <p class="blog-top-title">April 16 2020</p>
      <h2 class="blog-title">Blog Post One</h2>
      <p class="blog-desc">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a class="blog-btn link" href="">Read Our Blog</a>
    </div>
    <img
      class="blog-img"
      src="./images/blog/rectangle.jpg"
      alt="team"
      width="680"
      height="460"
    />
  </div>
</section>
