<section class="cases" id="cases">
  <div class="container">
    <p class="section-top-title section-top-title-dark">This is what we do</p>
    <h2 class="section-title section-title-dark">Business Cases</h2>
    <p class="section-desc section-desc-dark">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>

    <ul class="cases-list list gallery">
      <li class="cases-item">
        <a href="./images/cases/big/bussines1-3x.jpg">
          <img
            src="./images/cases/cases-1.jpg"
            alt="meet"
            width="320"
            height="214"
          />
        </a>
      </li>

      <li class="cases-item">
        <a href="./images/cases/big/bussines2-3x.jpg">
          <img
            src="./images/cases/cases-2.jpg"
            alt="person work"
            width="320"
            height="214"
          />
        </a>
      </li>

      <li class="cases-item">
        <a href="./images/cases/big/bussines3-3x.jpg">
          <img
            src="./images/cases/cases-3.jpg"
            alt="agreements"
            width="320"
            height="214"
          />
        </a>
      </li>

      <li class="cases-item">
        <a href="./images/cases/big/bussines4-3x.jpg">
          <img
            src="./images/cases/cases-4.jpg"
            alt="cases"
            width="320"
            height="214"
          />
        </a>
      </li>

      <li class="cases-item">
        <a href="./images/cases/big/bussines5-3x.jpg">
          <img
            src="./images/cases/cases-5.jpg"
            alt="cases"
            width="320"
            height="214"
          />
        </a>
      </li>

      <li class="cases-item">
        <a href="./images/cases/big/bussines6-3x.jpg">
          <img
            src="./images/cases/cases-6.jpg"
            alt="cases"
            width="320"
            height="214"
          />
        </a>
      </li>

      <li class="cases-item">
        <a href="./images/cases/big/bussines7-3x.jpg">
          <img
            src="./images/cases/cases-7.jpg"
            alt="cases"
            width="320"
            height="214"
          />
        </a>
      </li>

      <li class="cases-item">
        <a href="./images/cases/big/bussines8-3x.jpg">
          <img
            src="./images/cases/cases-8.jpg"
            alt="cases"
            width="320"
            height="214"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
