<section class="cases">
  <div class="container">
    <p class="section-top-title section-top-title-dark">This is what we do</p>
    <h2 class="section-title section-title-dark">Business Cases</h2>
    <p class="section-desc section-desc-dark">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>

    <ul class="cases-list list">
      <li class="cases-item">
        <img
          src="./images/cases/cases-1.jpg"
          alt="meet"
          width="320"
          height="214"
        />
      </li>

      <li class="cases-item">
        <img
          src="./images/cases/cases-2.jpg"
          alt="person work"
          width="320"
          height="214"
        />
      </li>

      <li class="cases-item">
        <img
          src="./images/cases/cases-3.jpg"
          alt="agreements"
          width="320"
          height="214"
        />
      </li>

      <li class="cases-item">
        <img
          src="./images/cases/cases-4.jpg"
          alt="cases"
          width="320"
          height="214"
        />
      </li>

      <li class="cases-item">
        <img
          src="./images/cases/cases-5.jpg"
          alt="cases"
          width="320"
          height="214"
        />
      </li>

      <li class="cases-item">
        <img
          src="./images/cases/cases-6.jpg"
          alt="cases"
          width="320"
          height="214"
        />
      </li>

      <li class="cases-item">
        <img
          src="./images/cases/cases-7.jpg"
          alt="cases"
          width="320"
          height="214"
        />
      </li>

      <li class="cases-item">
        <img
          src="./images/cases/cases-8.jpg"
          alt="cases"
          width="320"
          height="214"
        />
      </li>
    </ul>
  </div>
</section>
