<header class="header header-js">
  <div class="container">
    <nav class="header-nav">
      <a
        class="logo link animate__animated animate__pulse animate__repeat-2"
        href="./index.html"
      >
        <svg class="logo-icon" width="40" height="30">
          <use href="./images/icon/sprite.svg#icon-logo"></use>
        </svg>

        <span class="accent"> Finance</span>Ladger
      </a>
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a class="header-nav-link link current" href="#hero">Home </a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#about">About </a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#cases">Cases </a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#blog">Blog </a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="#footer">Contact </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
