<section class="team">
  <div class="container">
    <h2 class="team-sub-title">Who we are</h2>
    <h3 class="team-title">Our Professional Team</h3>
    <p class="team-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-list list">
      <li class="team-item">
        <img
          src="./images/team/team-1.jpg"
          alt="team-worker"
          widht="420"
          height="280"
        />
        <h4 class="team-name">John Doe</h4>
        <p class="team-position">President</p>
      </li>

      <li class="team-item">
        <img
          src="./images/team/team-2.jpg"
          alt="team-worker"
          widht="420"
          height="280"
        />
        <h4 class="team-name">Jane Doe</h4>
        <p class="team-position">Vice President</p>
      </li>

      <li class="team-item">
        <img
          src="./images/team/team-3.jpg"
          alt="team-worker"
          widht="420"
          height="280"
        />
        <h4 class="team-name">Steve Smith</h4>
        <p class="team-position">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
