<section class="team">
    <h2 class="who-we-are">Who we are</h2>
    <h3 class="team-title">Our Professional Team</h3>
    <p class="team-article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
    <ul class="team-list">
        <li class="team-list-item">
            <img src="./images/team/team-1.jpg" alt="team-worker" widht="420" height="280">
            <h2 class="worker-name">John Doe</h2>
            <p class="worker-position">President</p>
        </li>
        <li>
            <img src="./images/team/team-2.jpg" alt="team-worker" widht="420" height="280">
            <h2 class="worker-name">Jane Doe</h2>
            <p class="worker-position">Vice President</p>
        </li>
        <li>
            <img src="./images/team/team-3.jpg" alt="team-worker" widht="420" height="280">
            <h2 class="worker-name">Steve Smith</h2>
            <p class="worker-position">Marketing Head</p>
        </li>
    </ul>
</section>