.hero {
  background-color: #5e5e5e;
  text-align: center;
  padding-top: 259px;
  padding-bottom: 284px;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-width: 1360px;
  margin: 0 auto;

  &-title {
    font-weight: 300;
    font-size: 55px;
    line-height: 1.2;
    color: #e9e9e9;
    margin-bottom: 45px;
  }

  &-text {
    font-size: 22px;
    line-height: 1.67;
    color: #e9e9e9;
    margin-bottom: 29px;
  }
  &-button {
    display: inline-flex;
    gap: 5px;
    align-items: center;
    background-color: var(--accent-color);
    border-radius: 5px;
    line-height: 1.56;
    color: var(--secondary-text-color);
    padding: 10px 30px 10px 27px;

    transition: color 250ms ease;
  }

  &-button-icon {
    /* fill: var(--secondary-text-color); */
    fill: currentColor;
  }

  &-button:hover,
  &-button:focus {
    color: aqua;
  }
}
