.who-we-are {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.65;
    color:  var(--primary-text-color);
}
.team-title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    color: var(--primary-text-color);
}
.team-article {

}

.team-list {

}
.team-list-item {

}